section {
    width: 100%;
    height: 600px;
    box-sizing: content-box;
    display: block;
    margin-bottom: 0px;
    overflow: hidden;
}
.contact-section{
    background-image: url("images/background.png");
    background-position-y: -120px;
    background-repeat: no-repeat;
    background-size: cover;
}
.contact-form{
    display: flex; 
    align-items: flex-end; 
    flex-wrap: wrap;
    box-sizing: content-box;
    justify-content: center; 
    vertical-align: middle;
    text-align: center;
    position: absolute;
    left: 32%;
    width: 550px;
    height: 560px;
}
#contact-title {
    font-size: 50px;
    padding-bottom: 10px;
}
.contact-form-input {
    display: block;
    height: 50px;
    width: 550px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 2px;
    border-bottom-color: rgb(178, 87, 83);
    text-align: center;
    resize: vertical;
    min-height: 40px;
    max-height: 240px;
    border-radius: 10px;
    font-size: 30px;
    overflow: hidden;
    transition: all 0.25s;
}
.contact-form-input:hover {
    border-bottom-width: 8px;
}
.contact-form-input:focus {
    outline:none;
}

.contact-form-input::placeholder{
    font-size: 30px;
}
.contact-form-input.discord::placeholder {
    font-size: 27px;
}

.contact-form-input.empty{
    border-top-width: 4px;
    border-left-width: 4px;
    border-right-width: 4px;
    border-bottom-width: 4px;
    border-color: red;

}
.contact-form-input.errorMsg{
    color:red;
    font-size: 30px;
    visibility: hidden;
    width: 0px;
    height: 0px;
}
.contact-form-input.errorMsg.active{
    width: 100%;
    height: 50px;
    visibility: visible;
}
button.contact-form-input {
    width: 150px;
}
button.contact-form-input {
    background-color: #00458e;
    border-color: #023872;
}
button.contact-form-input span, button.contact-form-input i{
    color: white;
    transition: all 0.5s ease-in-out;
}
button.contact-form-input .fa-check,button.contact-form-input .fa-xmark{
    display: none;
    transform: translateY(200%);
}

