body {
    font-family: "Oswald", sans-serif;
}
.nav-bar {
    margin-top: 0px;
    margin-left: 0px;
    height: 100px;
    background-color: white;
    padding: 0px;
    position: sticky;
    justify-content: center;
}
.nav-logo{
    width: 100px;
    height: 100px;
}

.no_hover_logo {
    height: 100px;
    width: height;
    margin-left: 47%;
    margin-top: 0px;
    transition: all 1s;
}
.hover_logo {
    position: fixed;
    height: 100px;
    width: height;
    top: 10px;
    left: 47%;
    opacity: 0;
    transition: all 1s;
}
.nav-logo:hover .no_hover_logo{
    transform: translate(-90px);
}

.nav-logo:hover .hover_logo {
    opacity: 1;
    transform: translate(-90px);
}
.nav-list-right {
    position: absolute;
    float: right;
    right: 80px;
    top: 10px;
}
.nav-list-left {
    position: absolute;
    float: left;
    left: 20px;
    top: 10px;
}
.nav-item{
    display: inline;
    padding-left: 40px;
    font-size: 30px;
    color: black;
}

.nav-item .nav-arrow {
    opacity: 0;
    transition: all 0.5s;
}

.nav-item .active .nav-arrow {
    opacity: 1;
}

.nav-item .nav-arrow.fa-rotate-90{
    opacity: 1;
}
#french-flag{
    transform: translateY(12px);
}

.nav-item .nav-icon {
    opacity: 0;
    transition: all 0.5s;
}
.nav-item .active .nav-icon {
    opacity: 1;
}
.nav-item a{
    color:black;
    text-decoration: none;
    transition: all 0.5s;
}
.nav-item .active.social{
    color: #f50000;
}

.nav-item .active.projects{
    color: #43d800;
}
.nav-item .active.resources{
    color: #e7c669;
}
.nav-item .active.contact{
    color: #324bd8;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 10;
    margin-left: 30px;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 25px;
}
  
.dropdown-content a:hover {background-color: #ddd;}
  
.dropdown-content.show {display:block;}

.curseforge {
    transform: translate(-5px,7px);
}

footer {
    position: relative;
    top: 10px;
    bottom: 0px;
    left: 0px;
    text-align: center;
    box-sizing: border-box;
    height: auto;
    background-color: white;
    font-size: 18px;
    line-height: 28.8px;
    overflow: hidden;
    width: 100%;
    border-top-width: 2px;
    border-top-style: solid;
    border-top-color: rgb(218, 217, 220);
}

footer .rights{
    color:black;
    position: relative;
    font-size: 30px;
    padding-top: 20px;
}