 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1170px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 80px 80px 0;
}

.u-section-1 .u-list-1 {
  margin-top: 66px;
  margin-bottom: 60px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(50% - 15px) calc(50% - 15px);
  min-height: 555px;
  grid-gap: 30px 30px;
  grid-auto-columns: calc(50% - 15px);
}

.u-section-1 .u-list-item-1 {
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 18px;
}

.u-section-1 .u-text-2 {
  font-size: 2.25rem;
  background-image: none;
  font-weight: normal;
  margin: 0 12px;
}

.u-section-1 .u-text-3 {
  text-transform: none;
  font-weight: 700;
  line-height: 28.8px;
  margin: 20px 12px 0;
}

.u-section-1 .u-text-4 {
  margin: 27px 12px 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none;
  font-weight: 700;
  margin: 66px 0 0 auto;
  padding: 10px 17px 10px 16px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  text-transform: none;
  font-size: 1.125rem;
  letter-spacing: 3px;
  font-weight: 700;
  background-image: none;
  margin: -45px auto 0 0;
  padding: 8px 31px 9px 29px;
}

.u-section-1 .u-list-item-2 {
  background-position: 50% 50%;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 18px;
}

.u-section-1 .u-text-5 {
  font-size: 2.25rem;
  background-image: none;
  font-weight: normal;
  margin: 0 12px;
}

.u-section-1 .u-text-6 {
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 700;
  line-height: 28.8px;
  margin: 20px 12px 0;
}

.u-section-1 .u-text-7 {
  margin: 27px 12px 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  border-style: none;
  font-weight: 700;
  margin: 66px 0 0 auto;
  padding: 10px 17px 10px 16px;
}

.u-section-1 .u-btn-4 {
  border-style: none;
  text-transform: none;
  font-size: 1.125rem;
  letter-spacing: 3px;
  font-weight: 700;
  background-image: none;
  margin: -45px auto 0 0;
  padding: 8px 31px 9px 29px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1156px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(33.3333% - 20px) calc(33.3333% - 20px) calc(33.3333% - 20px);
    min-height: 458px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 788px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 15px) calc(50% - 15px);
    grid-auto-columns: calc(100% - 0px);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 591px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-btn-2 {
    padding: 9px 41px 11px 40px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-btn-4 {
    padding: 9px 41px 11px 40px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 372px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-text-5 {
    font-size: 3rem;
  }
}