@font-face {
    font-family: 'Lobster';
    src: url('./font/Lobster.ttf');
}

.project-div {
    border-radius: 50px;
    background-color: rgba(245, 131, 125, 0.75);
    width: 300px;
    height: 500px;
}

.project-name {
    padding-left: 25px;
    font-size: 40.5px;
}

.project-type {
    padding-left: 25px;
    font-family: Lobster, sans-serif;
    font-size: 27px;
}

.project-btn {
    border-radius: 50px;
    font-weight: 700;
    letter-spacing: 1px;
    padding-bottom: 9px;
    padding-left: 29px;
    padding-right: 31px;
    padding-top: 8px;
    background-color: white;
    color:black;
}