#infos-nav-bar {
    display: block;
}

#logo-img {
    width: 150px;
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: all 0.5s linear;
}

#logo-img:hover {
    transform: rotate(180deg);
}

.page-infos{
    height: 280px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-top-width: 2px;
    border-top-style: solid;
    border-top-color: rgb(218, 217, 220);
}

#pages-selection-div {
    position: relative;
    top: 10px;
    border-top-width: 2px;
    border-top-style: solid;
    border-top-color: rgb(218, 217, 220);
    width: auto;
    display: flex;
    height: 210px;
    justify-content: space-between;
}

.page-selection {
    display: block;
    position: relative;
    top: 10px;
    justify-content: center;
    align-items: center;

    text-align: center;
    font-size: 30px;
    text-decoration: none;
    color: black;

    width: 150px;
    height: 200px;
}


.page-selection span {
    position: relative;
}

.page-selection img {
    position: relative;
    width: 150px;
    height: 150px;
}
